:root {
    --header-bg-color: #2B3F51;
    --jumbo-bg-color: #1ABC9C;
    --green-bg-color: #1ABC9D;
    --footer-light-bg-color: #3B546D;
    --footer-dark-bg-color: #2C3F50;
    --garnet-light-color: #BA4B63;
    --azure-light-color:#1DA4B6;
    --black-color: #140F0F;
    --heaven-dark-color: #1C83C1;
    --blue-color: #0F38B5;
    --brown-light-color: #CCB2A3;
}

/* header */
header {
    background-color: var(--header-bg-color);
}

.jumbotron {
    background-color: var(--jumbo-bg-color);

}
.jumbo img {
    max-width: 300px;
}

.star-divider {
    display: inline-block;
    position: relative;
    font-size: 2.5rem;
}

.star-divider::before {
    content: "";
    display: block;
    width: 4rem;
    height: 5px;
    background: white;
    right: 60px;
    top: 50%;
    position: absolute;
}

.star-divider::after {
    content: "";
    display: block;
    width: 4rem;
    height: 5px;
    background: white;
    left: 60px;
    top: 50%;
    position: absolute;
}

.star-div-dark::before,
.star-div-dark::after {
    background: black;
}

/* style my-card */

.portfolio img {
    max-width: 100%;
}

.my-card {
    overflow: hidden;
}

.garnet {
    background-color: var(--garnet-light-color);
}

.azure-light {
    background-color: var(--azure-light-color);
}

.black {
    background-color: var(--black-color);
}

.heaven{
    background-color: var(--heaven-dark-color);
}

.blue {
    background-color: var(--blue-color);
}

.brown{
    background-color: var(--brown-light-color);
}

/* section about */
.about {
    background-color: var(--green-bg-color);
}

/* contact me */

/* footer */
.footer-top {
    background-color: var(--footer-light-bg-color);
}

.footer-bottom {
    background-color: var(--footer-dark-bg-color);
}

hr {
    margin-bottom: 1rem;
    margin-top: 0.3rem;
}

label {
    font-weight: 600;
    font-size: 1.3rem;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.icon {
    width: 2rem;
    height: 2rem;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fs-copy {
    font-size: .6rem;
}